body
{
    font-family: 'Roboto';
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header
{
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 0 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-title
{
    font-size: 24px;
    font-weight: 900;
}
.header-list
{
    list-style-type: none;
    display: flex;
    padding: 0 20px;
    gap: 30px;
    font-size: 16px;
}


.firstpart
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 100px;
    background-color: #1F2937;
    color: #E5E7EB
}
.first-title
{
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}
.first-subtext
{
    font-size: 18px;
    color: #E5E7EB;
}
.first-button
{
    background-color: #3882F6;
    font-weight: 900;
    padding: 7px 21px;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    border-radius: 6px;
    margin-top: 12px;
}
.placeholder
{
    background-color: gray;
    padding: 125px;
}